debes seguir el archivo task-master.md para ejecutar las tareas en el orden correcto
debes usar la herramienta context7 en todo momento para mantener el contexto del proyecto
lo que puedas ejecutar tu en la consola, ejecutalo
no dudes en ejecutar comandos en la consola para resolver las tareas
